<!doctype html>
<title>Dropspace</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<script type="text/javascript"
        src="{{ url_for('static', filename='highcharts.js') }}">
</script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<body>
<div id="header">
  <span id="sitename">Dropspace</span>
  {% if name %}
  <div id="userdetails">
      <span id="username">{{ name }}</span>
      (<a href="{{ url_for('login') }}">Logout</a>)<br>
    <span id="quota">{{ used | filesizefmt }} / {{ quota | filesizefmt }}</span>
   </div>
  {% endif %}
</div>
{% block body %}{% endblock %}
</body>
